{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block extra_title %} - News{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col article-entry">
            <h1>{{ object.title }}</h1>
            <div class="article-meta my-3">
                <i class="far fa-user-circle"></i>
                <span class="text-muted">{{ object.author }} on <i class="far fa-calendar-alt ml-4"></i> {{ object.created_on}}</span>
            </div>
            {% if request.user.is_superuser %}
                <a href="{% url 'news_post_edit' object.pk %}" class="btn btn-outline-primary">Edit</a>
                <!-- Delete trigger modal -->
                <button type="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
            {% endif %}
            <p>{{ object.body }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Back to <a href="{% url 'news_list' %}">All News</a></p>
        </div>
    </div>
</div>
<!-- Delete Post Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger font-weight-bold" id="deleteLabel">Warning! This will delete this new post!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong>{{ object.title }}</strong> post? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'news_post_delete' object.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Yes, Delete news post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
