<div class="bottom-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 position-relative">
        <div class="bag-toggle">
            <div class="shopping-bag">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %}" href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <i class="fas fa-shopping-bag fa-lg"></i>
                        <p class="bag-amount my-0">
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            {% else %}
                                €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler rounded-0 collapsed" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse p-3" id="main-nav">
            <div class="user-account-mob d-lg-none">
                <h3><i class="fas fa-user-circle"></i> Your Account</h3>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="acc-item">Add a Product</a>
                    {% endif %}
                        <a href="{% url 'profile' %}" class="acc-item">Your Profile</a>
                        <a href="{% url 'account_logout' %}" class="acc-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="acc-item">Register</a>
                        <a href="{% url 'account_login' %}" class="acc-item">Login</a>
                {% endif %}
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym-memberships'%}">Memberships</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="productsdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                    <div class="dropdown-menu" aria-labelledby="productsdropdown">
                        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                        <a href="{% url 'products' %}?category=trainers" class="dropdown-item">Trainers</a>
                        <a href="{% url 'products' %}?category=free_weights" class="dropdown-item">Free Weights</a>
                        <a href="{% url 'products' %}?category=strengthening" class="dropdown-item">Strengthening</a>
                        <a href="{% url 'products' %}?category=aerobic" class="dropdown-item">Aerobic</a>
                        <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">Best Sellers</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Sort By Price (low to high)</a>
                        <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Sort By Price (high to low)</a>
                        <a href="{% url 'products' %}?sort=sale_price&direction=asc" class="dropdown-item">On Sale (low to high)</a>
                        <a href="{% url 'products' %}?sort=sale_price&direction=desc" class="dropdown-item">On Sale (high to low)</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <div class="mobile-search-contact d-lg-none">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="mobile-search-input form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-search border rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <a href="tel:0035312334567" class="d-block"><i class="fas fa-phone"></i> +353 1 233 4567</a>
                <a href="mailto:info@power-fitness.ie" class="d-block"><i class="fas fa-envelope"></i> info@power-fitness.ie</a>
            </div>
        </div>
        <div class="search-block d-none d-lg-block btn-group dropleft">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-search"></i>
                <i class="fas fa-times"></i>
            </button>
            <div class="dropdown-menu rounded-0 text-light">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control search-input" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-search" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>