<div class="top-header d-none d-lg-flex">
    <a href="tel:0035312334567" class=""><i class="fas fa-phone"></i> +353 1 233 4567</a>
    <a href="mailto:info@power-fitness.ie" class=""><i class="fas fa-envelope"></i> info@power-fitness.ie</a>
    <div class="push-flex-right dropdown">
        <a class="your-account nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
                <p class="my-0"><i class="fas fa-user-circle fa-lg"></i> Your Account</p>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Add a Product</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">Your Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </div>
</div>