{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center w-lg-75 mx-auto">
        <div class="col-12">
            <h1>Gym Memberships</h1>
            <p>Get a Power Fitness gym membership now, and join a squeaky clean and spacious club!  We offer the Platinum Membership and Gold Membership.  Both get you access to our all-inclusive gym, and tons of cardio and strength equipment.</p>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col">
            <h2>Select the right gym membership for you</h2>
            <p>Explore our Membership options below.</p>
        </div>
    </div>
    <div class="row w-lg-75 mx-auto my-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Gold Membership</div>
                <div class="card-body">
                    <h4 class="card-title">€29 per month</h4>
                    <p class="card-text">Just the basics. Get access to the gym, all our equipment and a personalised fitness plan with an instructor.</p>
                    <a href="#" class="btn btn-primary">Sign up <i class="far fa-arrow-alt-circle-right"></i></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Benefits</small>
                    <ul class="member-benefits">
                        <li>Unlimited Access to our gym</li>
                        <li>Free fitness plan</li>
                        <li>Free Wi-Fi</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Platinum Membership</div>
                <div class="card-body">
                    <h4 class="card-title">€39 per month</h4>
                    <p class="card-text">In addition to all the Gold plan benefits you also get access to our classes and use of the steam room, and updated fitness plans.</p>
                    <a href="#" class="btn btn-primary">Sign up <i class="far fa-arrow-alt-circle-right"></i></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Benefits</small>
                    <ul class="member-benefits">
                        <li>Unlimited Access to our gym</li>
                        <li>Free fitness plan</li>
                        <li>Free Wi-Fi</li>
                        <li>Access to all classes</li>
                        <li>Use of steam room</li>
                        <li>Monthly updated fitness plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
