{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row home-hero">
        <div class="section-1 dark-overlay col-12 col-md-6 text-center text-md-left">
            <div class="content-section">
                <h1 class="">Get in shape with Power Fitness Gym</h1>
                <p class="hero-text">A little progress each day adds up to Big Results</p>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center text-md-left">
            <div class="row section-2">
                <div class="col">
                    <h2 class="">See our range of gym equipment</h2>
                </div>
            </div>
            <div class="row section-3">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <h2 class="">View our memberships</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2>About us</h2>
            <p>At Power Fitness Gym, we strive to create a workout environment where everyone feels accepted and respected. That’s why we take care to make sure our club is clean and welcoming, our staff are friendly, and our certified trainers are ready to help. Whether you’re a first-time gym user or a fitness veteran, you’ll always have a home in our all-inclusive gym.</p>
        </div>
        <div class="col-12 col-lg-6">Image</div>
    </div>
</div>
    
{% endblock %}
